.main {
    margin: 30px;
    background-color: white;
}

body {
    background-color: #efefef;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.img_avatar_url {
    width: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.question-tag {
    margin-right: 5px;
}

.question-relatedQuestion {
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.img-admire {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.community-menu {
    color: #999;
    font-size: 13px;
}

.jumbotron {
    margin: 80px;
}

.comment-text-desc {
    margin: 10px;
}

.comment-btn {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub-comment {
    border-radius: 5px;
    border: 1px solid #eeeeee;
}

.sub-comment-icon-active {
    color: #2aabd2;
}

.sub-comment-btn {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}